parameters:
    level: 8
    paths:
        - src
        - tests
        - bin
        - index.php
    excludePaths:
        - tests/Plugin/Workshop*.php
    scanDirectories:
        - plugins
    treatPhpDocTypesAsCertain: false
